---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import Space from '../components/Space.astro';
import Highlights from '../components/Highlights.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Teaching from '../components/Teaching.astro';
import Publications from '../components/Publications.astro';
import Patents from '../components/Patents.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
import { getCollection } from 'astro:content';

const awards = await getCollection('cv', ({ data }) => data.section === 'awards');
const services = await getCollection('cv', ({ data }) => data.section === 'services');
const talks = await getCollection('cv', ({ data }) => data.section === 'talks');
const press = await getCollection('cv', ({ data }) => data.section === 'press');

const { Content: Awards } = await awards[0].render();
const { Content: Services } = await services[0].render();
const { Content: Talks } = await talks[0].render();
const { Content: Press } = await press[0].render();
---

<Layout title="Andrea Bianchi's CV">
  <div id="page-wrap">
    <!-- <Profile />
    <Space /> -->

    <dl>
      <!-- <Highlights /> -->
      <!-- <Space /> -->

      <!-- <Experience/><Space /> -->

      <!-- <Education/><Space />  -->

      <!-- <Teaching/><Space /> -->
<!-- <Services/> -->
      <!-- <dt><i>Services</i> 🙋🏻‍♂️</dt>
      <dd><ServicesContent /></dd>
      <Space /> -->
      <!-- <Patents />
      <Space /> -->
      <!-- <Publications /> 
      <Space />  -->

      <Awards/> 
      <Space /> 

      <!--  
   

      
      <Space />

      

      
      <dd><ServicesContent /></dd>
      <Space />

      <dt><i>Invited Talks & Exhibitions</i> 🎙</dt>
      <dd><TalksContent /></dd>
      <Space />

      <dt><i>Press and Media</i> 📣</dt>
      <dd><PressContent /></dd>
      <Space /> -->
    </dl>
    <Footer />
  </div>
</Layout>
