---
const year = new Date().getFullYear();
---

<div>
  Copyright © {year} Andrea Bianchi - Made with ♥️ by MAKinteract
  <br />
  <a href="https://andrea.kaist.id">http://andrea.kaist.id</a>
</div>

<style>
  div {
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
  }

  a {
    color: black;
  }
</style>
